BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 140
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
