name: CI
on:
  workflow_dispatch:
jobs:
  build:
     runs-on: ubuntu-latest
     name: Build and Push Docker image to GitHub Packages
     steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: f1nal3/juniorgram/juniorgram
          tag_with_ref: true
  
