name: CI
on:
  workflow_dispatch:
jobs:
  build_and_push:
     runs-on: ubuntu-latest
     name: Build and Push Docker image to GitHub Packages
     steps:
      - name: Check out the repo.
        uses: actions/checkout@v2
      - name: Build the image.
        run: docker build . -t juniorgram:${{ github.run_number }}
      - name: Publish the image to GitHub Packages. 
        run: docker image push docker.pkg.github.com/f1nal3/juniorgram/juniorgram:${{ github.run_number }}
