name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Packages Docker Registry.
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_ACCESS }}
          
      - name: Pull docker image
        run: docker pull docker.pkg.github.com/f1nal3/juniorgram/juniorgram:stable
      - name: Ls
        run: ls
      - name: Run Docker
        run: docker run -v "/home/runner/work/Juniorgram/Juniorgram":/usr/src docker.pkg.github.com/f1nal3/juniorgram/juniorgram:stable
