name: Documentation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build-documentation:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-python@v2
      with:
          python-version: 3.7
          
    - name: Install coverage tools
      run: |
        pip3 install coverxygen
        sudo apt-get -y install lcov
    
    - name: Doxygen Action
      uses: mattnotmitt/doxygen-action@v1.1.0
      with:
          doxyfile-path: ./Doxyfile
          working-directory: .
  
    - name: Generating Coverage Info
      run: |
        python3 -m coverxygen --xml-dir ./docs/xml --src-dir . --output doc-coverage.info
        sudo mv doc-coverage.info ./docs
    
    - name: DEBUG
      run: |
        ls
        cat doc-coverage.info
      
    - name: Generate HTML
      run: |
        cd docs
        sudo genhtml -s --no-function-coverage --no-branch-coverage doc-coverage.info -o .
        cd ..
    
    - name: GH Pages Deployment
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
        enable_jekyll: false
        allow_empty_commit: false
        force_orphan: true
        publish_branch: github-pages
