name: Documentation
on:
  push:
    branches: [ dev ]
    
jobs:
  build-documentation:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - uses: actions/setup-python@v3
      with:
          python-version: 3.7
        
    - name: Doxygen Action
      uses: mattnotmitt/doxygen-action@v1.1.0
      with:
          doxyfile-path: ./Doxyfile
          working-directory: .
          
    - name: debug
      run: |
          ls -a
          pwd

    - name: GH Pages Deployment
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./Docs
        enable_jekyll: false
        allow_empty_commit: false
        force_orphan: true
        publish_branch: github-pages
        
