name: Documentation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build-documentation:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-python@v2
      with:
          python-version: 3.7
          
    - name: Install coverage tools
      run: |
        pip3 install coverxygen
        sudo apt-get -y install lcov
    
    - name: Creating folder structure
      run : | 
        sudo mkdir coverage
        cd coverage
        
    - name: Debug
      run: ls    
      
    - name: Debug
      run: ls ..
        
    - name: Doxygen Action
      uses: mattnotmitt/doxygen-action@v1.1.0
      with:
          doxyfile-path: ./Doxyfile
          working-directory: .
  
    - name: Debug
      run: ls  
      
    - name: Generating Coverage Info
      run: |
        sudo mkdir ./docs/doc_coverage
        python3 -m coverxygen --xml-dir ./docs/xml --src-dir . --kind enum,enumvalue,friend,typedef,variable,function,signal,slot,class,struct,union,define,file --output doc-coverage.info
        sudo mv doc-coverage.info ./docs/doc_coverage

    - name: Debug
      run: ls  
      
    - name: Generate HTML
      run: |
        sudo genhtml -s --no-function-coverage --no-branch-coverage ./docs/doc_coverage/doc-coverage.info -o ./docs/doc_coverage
        sudo rm -d -r ./docs/xml
        sudo rm -d -r ./docs/docs
        
    - name: Debug
      run: ls  
      
    - name: GH Pages Deployment
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .
        enable_jekyll: false
        allow_empty_commit: false
        force_orphan: true
        publish_branch: github-pages
