name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        BUILD_TYPE: [Debug, Release]
    
    steps:
    - uses: actions/checkout@v2
        
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
        
    - name: Get prerequisites
      run: python -m pip install conan==1.36.0 cmake
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        host: 'windows'
        target: 'desktop'
        dir: '${{ github.workspace }}/Qt/'
        install-deps: 'true'
        setup-python: 'false'
        set-env: 'true'
        tools-only: 'false'
        
    - name: DEBUG
      run: |
        ls
        cd ${{ github.workspace }}/Qt/
        ls
        cd 5.15.2
        ls

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build

      run: ctest -C ${{matrix.BUILD_TYPE}} -E "DataAccess"
