name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        BUILD_TYPE: [Debug, Release]
    
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
        
    - name: Get prerequisites
      run: python -m pip install conan==1.36.0 cmake aqtinstall
      
    - name: Install Qt
      run: python -m pip aqtinstall install 5.15.2 windows desktop
      
    - name: Run Conan install
      run: python -m pip conan install ${{github.workspace}}/conanfile.txt build_type=${{matrix.BUILD_TYPE}} \
         --build=missing 
      
    - uses: actions/checkout@v2

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build

      run: ctest -C ${{matrix.BUILD_TYPE}} -E "DataAccess"
